<nav class="navbar navbar-expand-sm bg-primary navbar-dark" style="background-color:#000080!important;">
  <div class="container" >
    <%= image_tag("logo.png", alt: "logo", class: 'navbar-brand', style: "height:40px;")%>
    <ul class="navbar-nav">
      <li class="nav-item <%= current_page?(root_path)? "active" : "" %>">
        <a class="nav-link" href="<%= root_path %>">Timeline</a>
      </li>
      <li class="nav-item <%= current_page?(user_followers_path)? "active" : "" %>">
        <a class="nav-link" href="<%= user_followers_path %>">Followers</a>
      </li>
      <li class="nav-item <%= current_page?(user_following_path)? "active" : "" %>">
        <a class="nav-link" href="<%= user_following_path %>">Following</a>
      </li>
      <li class="nav-item <%= current_page?(user_potential_to_follow_path)? "active" : "" %>">
        <a class="nav-link" href="<%= user_potential_to_follow_path %>">Quem eu posso seguir</a>
      </li>
      <li class="nav-item <%= current_page?(user_profile_path)? "active" : "" %>">
        <a class="nav-link" href="<%= user_profile_path %>">Meu perfil</a>
      </li>
    </ul>
    <div class="nav-item d-flex">
      <ul class="navbar-nav">
        <li class="nav-item">
          <div class="py-2 mr-4" style="color:#fff;"><%= current_user.email %></div>
        </li>
        <li class="nav-item">
          <li class="nav-item">
            <%= link_to("Sair", destroy_user_session_path, method: :delete, class: "nav-link")%>
          </li>
        </li>
      </ul>
    </div>
  </div>
</nav>
