<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <%= render("user/user_card_header", user: current_user) %>
      <div class="card-body">
        Email:<p class="card-text text-muted"><%= current_user.email %></p>
        Telefone:<p class="card-text text-muted"><%= current_user.phone %></p>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <%= form_with(model: [:user, @post], local: true) do |f| %>
          <%= render("layouts/form_errors", record: @post) %>
          <div class="form-group">
            <label for="exampleInputEmail1">Texto</label>
            <%= f.text_area :body, rows: 5, class: "form-control", placeholder: "Digite seu texto..." %>
          </div>
            <button type="submit" class="btn btn-primary">Postar</button>
        <% end %>
      </div>
    </div>

    <% current_user.posts.order(created_at: :desc).each do |post| %>
      <%= render "user/post_card", post: post %>
    <% end %>
  </div>
</div>
